.sale1{
    cursor: pointer;
    color: initial;
    transition: all .1s ease-in-out;
}
.sale1:hover{
    color: #0277bd;
}
.banner{
    background-image: url(/image/1.jpg);
    background-size: cover;
    padding: 100px 0;
}

.rotateimage{
    transform:scaleX(-1)
}