* {
  font-family: "Cairo", sans-serif;
  font-size: 1em;
}
#basic-nav-dropdown {
  color: #000;
  font-weight: 700;
  padding: 8px 18px;
}

#basic-nav-dropdown:hover,
#basic-nav-dropdown:active,
.dropdown-item.active,
.dropdown-item:active {
  background: #e6edf1 !important;
  color: #0277bd !important;
  border-radius: 10px;
}

.button-cont button {
  padding: 2% ;
  border-radius: 50rem;
  background-color: #0277bd;
  color: #fff;
  position: relative;
}

.button-cont button:hover,
.button-cont button:active,
.button-cont button:focus {
  background-color: #0277bd;
  color: #fff;
}

.footer {
  background-color: #0277bd;
  color: #fff;
}

.footer-ul li {
  padding-right: 7%;
}

.footer-ul li a {
  color: #fff;
  text-decoration: none;
}

.details .ant-card-grid {
  box-shadow: none;
}
.details .ant-card-grid:hover {
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
}

.NewBadge {
  position: absolute !important;
  top: 0 !important;
  right: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0%;
}
.NewBadge sup {
    background: #f9a825;
    color: #000;
}
/* @media screen and (max-width: 768px) {
    .NewBadge {
      transform: translate(50%, -50%);
      transform-origin: 100% 0%;
    }
} */

.rtl {
  direction: rtl !important;
}

.ant-card-grid {
  float: initial;
}
